In [1]:
7*(2-32)*23*23*(32-232)/23
#Multiplication

966000.0

In [2]:
7+(2-32)+23*23+(32-232)/23
#Addition

497.30434782608694

In [3]:
7/(2-32)/23*23/(32-232)/23
Division

5.072463768115943e-05

In [5]:
78-23+23+23+12+123-232*(34/54*34+4)*34
#Multiplication

-200177.62962962966

In [6]:
78-23+23+23+12+123-232/(34/54*34+4)/34
#Division

235.7314354313154

In [8]:
78-23+23+23+12+123-232+(34/54*34+4)+34
#Addition

63.407407407407405

- what is the difference between = and ==

In [ ]:
The "=" sign is used for a assignement ,meamimg you're assigning a value to a variable.
The"=="sign is used for a comparision,checking if two values are equal.

- a=-91,b=32 apply comparision operator

In [11]:
a=-91
b=32
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

- Define type function ,give example

in many programming languages,including python ,the type() function is used to get the type of an object
type(object)

In [13]:
x=5
print(type(x))

<class 'int'>

In [14]:
x="Hello"
print(type(x))

<class 'str'>

In [15]:
x=[1,2,3,4,5]
print(type(x))

<class 'list'>

In [16]:
x=("my name is soniya ")
print(type(x))

<class 'str'>

- define bool function

in python ,the  bool() function is used to convert a value to a boolean (true or false) value

In [18]:
x=1823
print(bool(x))

True

- write any 3 examples an type casting or type conversion

In [1]:
x=5  #int
y=2.5 #float
z=38j #complex
#convert int into float
a=float(int)
#convert float to int
b=int(float)
#convert int into complex
c=complex(x)
print(a)
print(b)
print(c)
print(type(x))
print(type(y))
print(type(z))
convert int into float
print

SyntaxError: invalid syntax (1236151531.py, line 16)

In [2]:
Explicit type casting  :Explicit type casting is necessory when converting a larger data type to a smaller one ,potentially resulting in data loss.

SyntaxError: invalid syntax (987706218.py, line 1)